Source: wmget
Section: x11
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), libcurl3-dev, libx11-dev, libxext-dev,
 libxpm-dev, x11proto-core-dev, dpatch
Standards-Version: 3.6.2

Package: wmget
Architecture: any
Depends: ${shlibs:Depends}, curl
Description: Background download manager in a Window Maker dock app
 wmget is a dock app for the GNU Window Maker window manager 
 (or one of the many other WM's which support dockapps) which 
 makes it more convenient to perform long downloads in the background.  
 It uses the excellent libcurl library, part of the cURL automated-download 
 program, to perform file retrieval.        
